@import 'src/PiUI-basic/variable.scss';

/* 变量覆盖 */

$pi-font-size: 28rpx; // 文字大小
$pi-line-color: #eeeeee; // 线颜色
$pi-font-color: #333333; // 文字颜色
$pi-fonticon-color: #d2d2d2; // iconfont文字颜色
$pi-background-color: #f5f5f5; // 页面背景
// 导航
$pi-navi-title-size: 36rpx;
$pi-navi-background: #ffffff;
// 表单
$pi-form-item-height: 88rpx; // 表单高度
$pi-form-font-weight: 500; // 表单文字大小
$pi-form-item-height: 110rpx; // 表单高度

/* 项目相关css在这里定义 */

$file-host: '~@/static/img/'; // 文件服务器
